<script src="../dist/newbot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="app">
    <input type="text" v-model="msg" @keyup.enter="send()">
    <button @click="send()">Envoyer</button>
    <ul>
        <li v-for="message in messages">{{ message }}</li>
    </ul>
</div>

<script>
    (async function () {
        const converse = new NewBot()
        converse.code([{"name":"start","params":null,"type":"function","instructions":[{"output":"Hey, je te propose de jouer avec moi à un quizz !","params":null,"decorators":[{"name":"Format","params":["quickReplies",["play"]]}]}],"_file":{"start":{"offset":0,"line":1,"column":1},"end":{"offset":121,"line":5,"column":2}},"decorators":[{"name":"Event","params":["start"]}]}])
        converse.exec('yo', (output) => {
            console.log(output)
        })
    })()
</script>
