<script src="../dist/converse.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="app">
    <input type="text" v-model="msg" @keyup.enter="send()">
    <button @click="send()">Envoyer</button>
    <ul>
        <li v-for="message in messages">{{ message }}</li>
    </ul>
</div>

<script>
    (async function () {
        const converse = new Converse()
        converse.file('index.converse')

        converse.configure({
            languages: {
                path: './languages',
                packages: ['fr_FR']
            }
        }).loadLanguage()

        await converse.setSkills({
            hey: 'skills/hey/hey'
        })

        var app = new Vue({
            el: '#app',
            data: {
                messages: [],
                msg: ''
            },
            methods: {
                send() {
                    this.messages.push(this.msg)
                    converse.exec(this.msg, 'user id', (output, done) => {
                        this.messages.push(output)
                        done()
                    })
                    this.msg = ''
                }
            }
        })
    })()
</script>
